#messageArea {
    height: 70vh;
    overflow: scroll;
}

.fade-enter-done {
    opacity:1;
    transition: all 100ms ease-in;
}

.fade-enter {
    opacity:0;
}

#messageArea {
    border: 1px solid gray;
}