body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-enter-active {
  opacity:.5;
  transition: all 100ms ease-in;
}

.fade-enter-done {
  opacity:1;
  transition: all 100ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity:.5;
  transition: all 100ms ease-out;
}

.fade-exit-done {
  opacity: 0;
  transition: all 100ms ease-out;
}

/*Login Page*/
#login_form {
  display: grid;
  justify-content: center;
}

input {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/*img*/
img {
  object-fit: contain;
}

/*sidebar*/
.sidebar {
  position: absolute;
  left:-300px;

  * {
    z-index: 100;
  }

  .sidebar_open {
    display: block;
  }

  .sidebar_items {
    display: block;
  }

  //slide
  .slide-enter {
    left:-300px
  }

  .slide-enter-active {
    left: -150px;
    transition: all 200ms ease;
  }

  .slide-enter-done {
    left:0;
    transition: all 200ms ease;
  }

  .slide-exit {
    left:0;
  }

  .slide-exit-active {
    left:-150px;
    transition: all 200ms ease;
  }

  .slide-exit-done {
    left:-300px;
    transition: all 200ms ease;
  }

  .sidebar_body {
    width: 300px;
  }

  .sidebar_cursor {
    max-width: 30px;
    opacity: 1.0;
    &:hover {
      opacity: 0.8;
    }
    
  }
}

/*loading component*/
.loading {
  z-index: 9998;

  .loading_background {
    background-color: gray;
    opacity: .5;
  }

  .loading_item {
    font-weight:bold; 
    text-shadow:1px 1px 0 black; 
    color:white; 
  }
}

/*current_users_container*/
.current_users_container {
  border: solid 1px gray;
}

//messagesContainer
#messagesContainer {
  height: 60vh;
  border : solid 1px gray;
  overflow: scroll;
}

#talkRoomMembersModalBody {
  max-height: 60vh;
  overflow: scroll;
}

//talkRoomCardsRow
.talkRoomCardsRow {
  .fade-exit-active {
    display: none;
  }
}