$user-thumb-px:50px;
$user-profile-px:200px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fade-enter-active {
  opacity:.5;
  transition: all 100ms ease-in;
}

.fade-enter-done {
  opacity:1;
  transition: all 100ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity:.5;
  transition: all 100ms ease-out;
}

.fade-exit-done {
  opacity: 0;
  transition: all 100ms ease-out;
}

/*Login Page*/
#login-form {
  display: grid;
  justify-content: center;
}

input {
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

/*sidebar*/
.sidebar {
  position: absolute;
  left:-300px;

  * {
    z-index: 100;
  }

  .sidebar-open {
    display: block;
  }

  .sidebar-items {
    display: block;
  }

  //slide
  .slide-enter {
    left:-300px
  }

  .slide-enter-active {
    left: -150px;
    transition: all 200ms ease;
  }

  .slide-enter-done {
    left:0;
    transition: all 200ms ease;
  }

  .slide-exit {
    left:0;
  }

  .slide-exit-active {
    left:-150px;
    transition: all 200ms ease;
  }

  .slide-exit-done {
    left:-300px;
    transition: all 200ms ease;
  }

  .sidebar-body {
    width: 300px;
  }

  .sidebar-cursor {
    max-width: 30px;
    opacity: 1.0;
    &:hover {
      opacity: 0.8;
    }
    
  }
}

/*loading component*/
.loading {
  z-index: 9998;

  .loading-background {
    background-color: gray;
    opacity: .5;
  }

  .loading-item {
    font-weight:bold; 
    text-shadow:1px 1px 0 black; 
    color:white; 
  }
}

/*current-users-container*/
.simple-border {
  border: solid 1px gray;
}

.clear-exit-anim-children {
  [class$='-exit-active'] {
    display: none;
  }
}

.pointer {
  cursor: pointer;
}

@keyframes opacity-iterate {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1.0;
  }

}

.opacity-iterate {
  &:hover {
    animation-name: opacity-iterate;
    animation-duration: 1.0s;
    animation-iteration-count: infinite;
  }
}

.opacity-under-mouse {
  &:hover {
    opacity: 0.5;
  }
}

.h-user-thumb {
  height: #{$user-thumb-px};
  align-items: ;
}

.w-user-width {
  width: #{$user-thumb-px};
}

.user-thumb-size {
  width : #{$user-thumb-px};
  height: #{$user-thumb-px};
}

.transparent {
  display: flex;
  text-align: center;

  .front {
    z-index: 1;
    transition : all 0.2s ease-out;

    &.opacity {
      opacity: 0.1;
    }
  }

  .back {
    z-index: 0;
    position: absolute;
  }
}

@mixin vw($vwnum) {
  width : #{$vwnum}vw;
  max-width: #{$vwnum}vw;
}

@for $vw-val from 0 through 100 {
  .vw-#{$vw-val} {
    @include vw(#{$vw-val})
  }
}

@for $w-per-val from 0 through 100 {
  .w-per-#{$w-per-val} {
    width: percentage($w-per-val/100);
  }
}


@mixin vh($vhnum) {
  height : #{$vhnum}vh;
  max-height: #{$vhnum}vh;
}

@for $vh-val from 0 through 100 {
  .vh-#{$vh-val} {
    @include vh(#{$vh-val})
  }
}

@for $h-per-val from 0 through 100 {
  .h-per-#{$h-per-val} {
    height: percentage($h-per-val/100);
  }
}

@for $h-px from 0 through 500 {
  .h-px-#{$h-px} {
    height : #{$h-px}px;
  }
}

@for $h-max-px from 0 through 500 {
  .h-max-px-#{$h-max-px} {
    max-height : #{$h-max-px}px;
  }
}

@for $w-px from 0 through 500 {
  .w-px-#{$w-px} {
    width : #{$w-px}px;
  }
}

@for $font-px from 0 through 500 {
  .font-px-#{$font-px} {
    font-size : #{$font-px}px;
  }
}

@for $font-rem from 0 through 20 {
  .font-rem-#{$font-rem} {
    font-size : #{$font-rem/10}rem;
  }
}

.h-100per-minus-user-thumb {
  height : calc(100% - #{$user-thumb-px})
}

.h-100per-minus-user-prof {
  height : calc(100% - #{$user-profile-px})
}

.bg-white {
  background-color: white;
}

.bg-green {
  background-color: green;
}

.font-x-large {
  font-size: x-large;
}

.gray {
  color: gray;
}

.contain {
  object-fit: contain;
}

.fill {
  object-fit: fill;
}

.cover {
  object-fit: cover;
}

.align-text-center {
  text-align: center;
}