body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.fade-enter-active {
  opacity: .5;
  transition: all 100ms ease-in; }

.fade-enter-done {
  opacity: 1;
  transition: all 100ms ease-in; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: .5;
  transition: all 100ms ease-out; }

.fade-exit-done {
  opacity: 0;
  transition: all 100ms ease-out; }

input {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr; }

.clear-exit-anim-children [class$='-exit-active'] {
  display: none; }
